.constructor {
  max-width: 600px;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 56px;
}

.price {
  display: flex;
  align-items: center;
}

.ingredients {
  max-height: 442px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  display: flex;
  align-items: center;
}