.details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.properties {
  display: flex;
}

.property {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  line-height: 2.1;
}
