.header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.togglers {
  display: flex;
  align-items: center;
  width: calc(100% / 3)
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userButton {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
}

.buttonTitle_secondary {
  color: #8585AD;
}

.link {
  text-decoration: none;
}

.buttonTitle {
  color: white;
}

